.container {
    
    width: 100%;
    text-align: center;
    position: relative;
    clip-path: polygon(100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%, 100% 0);
    height: 1280px;
    background: #000;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.slider {
    padding-top: 500px;
}

.text {
    position: absolute;
    top: 20%;
    left: 30px;
}

.paragraph {
    margin-top: 20px;
    padding: 50px 30px;
    text-align: center;
}

@media (max-width: 968px){
    .text{
        margin-left: 25%;
    }
}

@media (max-width: 600px){
    .text{
        margin-left: 8%;
    }
}

@media (max-width: 410px){
    .text{
        top: 15%;
        margin-left: 5px;
    }
}

