.container {
    
    width: 100%;
    text-align: center;
    position: relative;
    clip-path: polygon(100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%, 100% 0);
    height: 1280px;
    background: #000;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.titlecontainer {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    position: relative;
    

}

.subtitlecontainer {
    
    margin-left: auto;
    margin-right: auto;
    top: 35%;
    position: relative;    

}

.barcontainer {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 50px;
    background: rgba( 255, 255, 255, 0.15 ); 
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid #58CF68
}

.icons {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45%; 
    
}

.icons i {
    
    margin-left: 20px;
    margin-right: 20px;
    
   
    
}

.icons i:hover{
    color: #58CF68;
}

.form {
    text-align: center;
}

.field {
    width: 80%;
    text-align: center;
    background: rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 3px 3px 0 #58CF68;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid #fff;
    border-radius: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2rem;
    color: #fff;
    
}

.text {
    margin-bottom: 50px;
}

.button {
    margin-top: 30px;
}

@media (max-width:480px){
    .titlecontainer{
        top: 10%;
    }
    .subtitlecontainer{
        top: 20%;
    }
    .icons{
        top: 30%;
    }
}

